html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

b {
	font-weight: bold;
}

body {
	font: 16px os;
	background-color: #e8eaff;
}

ul {
	list-style: none;	
}

input {
	font: 16px os;
	margin-bottom: 10px;
}

input[type="text"], textarea {
	width: 250px;
	margin-bottom: 10px;
	font: 16px os;
	padding: 5px;
}

textarea {
	background-color: #ddd;
}

input[type="text"]:focus, textarea:focus {
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0, 50, 50, 0.72);
	-moz-box-shadow:    0px 0px 9px 0px rgba(0, 50, 50, 0.72);
	box-shadow:         0px 0px 9px 0px rgba(0, 50, 50, 0.72);
}

input[type="submit"], button{	
	color: rgb(255, 230, 230);
	font-size: 24px;	
	padding: 4px 8px;
	text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: rgb(0, 122, 191);
	background: -moz-linear-gradient(90deg, rgb(0, 122, 191) 30%, rgb(0, 207, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(0, 122, 191) 30%, rgb(0, 207, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(0, 122, 191) 30%, rgb(0, 207, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(0, 122, 191) 30%, rgb(0, 207, 255) 100%);
	background: linear-gradient(0deg, rgb(0, 122, 191) 30%, rgb(0, 207, 255) 100%);
	-webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
}

input[type="submit"]:hover, input[type="file"]:hover, button:hover{	
	cursor: pointer;
	background: rgb(0, 92, 191);
	background: -moz-linear-gradient(90deg, rgb(0, 92, 191) 30%, rgb(0, 175, 255) 100%);
	background: -webkit-linear-gradient(90deg, rgb(0, 92, 191) 30%, rgb(0, 175, 255) 100%);
	background: -o-linear-gradient(90deg, rgb(0, 92, 191) 30%, rgb(0, 175, 255) 100%);
	background: -ms-linear-gradient(90deg, rgb(0, 92, 191) 30%, rgb(0, 175, 255) 100%);
	background: linear-gradient(0deg, rgb(0, 92, 191) 30%, rgb(0, 175, 255) 100%);
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

#header, #main, #login, #footer {
	background: #CCC;
	padding: 10px;
	margin-bottom: 20px;
	
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 50, 50, 0.24);
	-moz-box-shadow:    0px 0px 15px 0px rgba(0, 50, 50, 0.24);
	box-shadow:         0px 0px 15px 0px rgba(0, 50, 50, 0.24);
}

.clear {
	clear: both;
}

.display_none {
	display: none;
}

#action {
text-align:center;
margin-bottom:10px;
}

#messages {
	text-align:center;	
}

textarea {
	width:700px;
	height:120px;
}


TABLE {
	width:400px;
	margin: 0 auto;
	border-collapse: collapse;
	margin-bottom: 20px;
	font-size:24px;
	text-align:center;	
}

TH {
	border: 4px solid gray;
}

TD, TH {
	
}

TD {	
	border: 2px solid gray;
}

#elevator TD span{
	display:inline-block;
	width:32px;
	height:32px;
	background: url(images/man.png) no-repeat;
	margin-left:10px;
	color: #505050;
	
	
}

#elevator TD  {
	min-height: 50px;
	width: 33%;	
	padding: 5px;
}

#elevator TD:nth-child(2) span{	
	background-position: 0 -32px;
}

#elevator TD:nth-child(3) span{	
	background: url(images/man.png) no-repeat 0 -64px;
}

.curentStory {
	background-color: #fff;
}

#footer {
	background: #CCC;
	padding: 30px;
	margin-top: 20px;
}

#footer p {
	text-align: center;
}

#logFile {
	display: none;
}